Django==2.2.24
django-fluent-dashboard==1.0.1
django-admin-tools==0.9.1
django-extensions==2.1.1
django-celery==3.2.1
celery==3.1.23
kombu==3.0.35
billiard==3.3.0.23
Markdown==3.3.4
djangorestframework==3.10.3
ecdsa==0.11
Pygments==1.6
django-filter==2.2.0
jsonfield==0.9.22
python-dateutil>=2.7.0
https://github.com/glic3rinu/passlib/archive/master.zip
django-iban==0.3.0
requests
phonenumbers
django-countries
django-localflavor
amqp
anyjson
pytz
